{% extends "taskbuster/base.html" %}
{% block head_title %}TaskBuster{% endblock %}
{% block content %}
<div class="container">
<h1>Todo List</h1>
<a href="{% url 'create' %}">Create a new Todo</a>
<hr>
{% load account %}
Welcome back, my lovely {% user_display user %}
<ul>
{% for thing in queryset %}
    <li>{{ thing.title }}</li>
    <li> THis is the emergency level: {{ thing.choice }}</li>
    <li> This is the content: {{ thing.content }}</li> - <a class="btn btn-info" href="{% url 'delete' id=thing.id %}" type="button">Done</a>
  </br>

{% endfor %}

</ul>
</div>
{% endblock %}
